# Cleaning phase

In [1]:
import pandas as pd

In [57]:
original_data = pd.read_csv('data/dailyActivity_merged.csv')

In [78]:
df = original_data.copy()

In [79]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [80]:
df.shape

(940, 15)

In [81]:
df = df.loc[(df!=0).any(axis=1)] # drop all full 0 rows

In [82]:
df = df.drop_duplicates(subset=['Id','ActivityDate'])

In [83]:
df = df.drop(df[df.TotalSteps == 0].index)

In [84]:
df.shape

(863, 15)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 863 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        863 non-null    int64
 1   ActivityDate              863 non-null    object
 2   TotalSteps                863 non-null    int64
 3   TotalDistance             863 non-null    float64
 4   TrackerDistance           863 non-null    float64
 5   LoggedActivitiesDistance  863 non-null    float64
 6   VeryActiveDistance        863 non-null    float64
 7   ModeratelyActiveDistance  863 non-null    float64
 8   LightActiveDistance       863 non-null    float64
 9   SedentaryActiveDistance   863 non-null    float64
 10  VeryActiveMinutes         863 non-null    int64
 11  FairlyActiveMinutes       863 non-null    int64
 12  LightlyActiveMinutes      863 non-null    int64
 13  SedentaryMinutes          863 non-null    int64
 14  Calories                  863 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 107.9+ KB

In [86]:
unique_Ids = df.Id.unique()
len(unique_Ids)

33

In [87]:
df.ActivityDate = pd.to_datetime(df.ActivityDate)

In [88]:
df.ActivityDate

0     2016-04-12
1     2016-04-13
2     2016-04-14
3     2016-04-15
4     2016-04-16
         ...
935   2016-05-08
936   2016-05-09
937   2016-05-10
938   2016-05-11
939   2016-05-12
Name: ActivityDate, Length: 863, dtype: datetime64[ns]

In [89]:
df['WeekDay'] = df.ActivityDate.dt.day_name()

In [90]:
df['TotalActiveHours'] = (df.VeryActiveMinutes + df.FairlyActiveMinutes + df.LightlyActiveMinutes)/60

In [91]:
df['TotalSedentaryHours'] = df.SedentaryMinutes/60

In [92]:
df['TotalHours'] = df['TotalActiveHours'] + df['TotalSedentaryHours']
df['TotalHours'] = df['TotalHours'].round(1)

In [93]:
df.shape

(863, 19)

In [95]:
df = df.drop(df[df.TotalHours == 0].index)

In [96]:
df.shape

(862, 19)

# Analysis phase

In [97]:
df.describe()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalActiveHours,TotalSedentaryHours,TotalHours
count,8.620000e+02,862,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000
mean,4.858166e+09,2016-04-26 01:50:15.313224960,8329.024362,5.986439,5.970789,0.117959,1.638654,0.618898,3.643109,0.001752,23.041763,14.792343,210.257541,956.861949,2363.736659,4.134861,15.947699,20.082483
min,1.503960e+09,2016-04-12 00:00:00,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,52.000000,0.000000,0.033333,0.100000
25%,2.320127e+09,2016-04-18 00:00:00,4926.750000,3.372500,3.372500,0.000000,0.000000,0.000000,2.350000,0.000000,0.000000,0.000000,147.000000,722.250000,1856.750000,3.054167,12.037500,16.400000
50%,4.445115e+09,2016-04-26 00:00:00,8053.500000,5.590000,5.590000,0.000000,0.410000,0.310000,3.580000,0.000000,7.000000,8.000000,208.500000,1021.000000,2220.500000,4.300000,17.016667,22.600000
75%,6.962181e+09,2016-05-03 00:00:00,11096.250000,7.905000,7.880000,0.000000,2.277500,0.867500,4.897500,0.000000,35.000000,21.000000,272.000000,1189.000000,2832.000000,5.383333,19.816667,24.000000
max,8.877689e+09,2016-05-12 00:00:00,36019.000000,28.030001,28.030001,4.942142,21.920000,6.480000,10.710000,0.110000,210.000000,143.000000,518.000000,1440.000000,4900.000000,9.200000,24.000000,24.000000
std,2.419740e+09,NaN,4739.273449,3.717635,3.699775,0.646473,2.736308,0.905329,1.854457,0.007655,33.656502,20.433053,96.577344,278.556009,699.448060,1.754115,4.642600,4.335340

# Share phase

1. Active minutes per weekday
2. Active calories per weekday
3. Activity type breakdown
4. Calories burned for every total hour 
5. TotalStep per weekday